@import '../../../styles/variables';
@import '../../../styles/mixins';

.footer {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.footer-links {
  width: 100%;
}

.footer-legal {
  width: 100%;
  height: 40px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: $color-main;
  @include unselectable;
}

.copyright {
  color: $color-secondary;
  font-size: 14px;
  margin: 0 15px;
}

.social-links {
  margin: 0 15px;
  @include flex-center;

  & * {
    margin: 0 10px;
    @include flex-center;
  }
}