@import '../../../styles/variables';
@import '../../../styles/mixins';

.footer {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.footer-links {
  width: 100%;
  height: 200px;
  display: flex;
  flex-flow: row nowrap;
  background-color: $color-main;

  &__logo {
    width: 100%;
    height: 100%;
    flex-basis: 40%;
    display: flex;
    justify-content: space-around;
    @include unselectable;
  }

  &__map {
    width: 100%;
    height: 100%;
    flex-basis: 60%;
  }
}

.container-links {
  display: flex;
  flex-flow: row nowrap;

  &__map {
    height: 100%;
    flex-basis: (100%/3);
    display: flex;
    justify-content: center;
  }

  &__technical {
    height: 100%;
    flex-basis: (100%/3);
    display: flex;
    justify-content: center;
  }

  &__upstair {
    height: 100%;
    flex-basis: (100%/3);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.group-links {
  display: flex;
  flex-flow: column nowrap;
  padding: 25px;

  & * {
    margin-bottom: 15px;
    color: $color-secondary;
    text-decoration: none;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      color: $color-primary;
    }
  }
}

.upstair {
  color: $color-secondary;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: $color-primary;
  }
}

.footer-legal {
  width: 100%;
  height: 40px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: $color-main;
  @include unselectable;
}

.copyright {
  color: $color-secondary;
  font-size: 14px;
  margin: 0 15px;
}

.social-links {
  margin: 0 15px;
  @include flex-center;

  & * {
    margin: 0 10px;
    @include flex-center;
  }
}