.app-bar {
  position: fixed;
  height: 85px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  background-color: #141e28;

  &__logo {
    flex-basis: 30%;
  }

  &__navigation {
    flex-basis: 70%;
  }
}