@import '../../../../styles/variables';

.vk {
  width: 24px;
  height: 24px;

  &__icon {
    fill: $color-secondary;
  }

  &:hover {
    .vk__icon {
      fill: $color-primary;
    }
  }
}